@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

//---Fonts---
$font1: 'Play', sans-serif;
$font2: 'Press Start 2P';

//---Colors---
$color1: #121212;
$color2: #C5C8CA;
$color3: #F2F2F2;
$color4: #eeb231;


//---text---
h1{
    font-size: 55px;
    font-family: $font2;
    font-weight: 800;
    color: $color3;
}
h2{
    font-size: clamp(40px, 4vw, 30px);
    font-family: $font1;
    font-weight: 800;
    color: $color1;
}
h3{
    font-size: clamp(14px, 2vw, 20px);
    font-family: $font1;
    font-weight: 500;
}
p{
    font-size: 15px;
    font-family: $font1;
   font-weight: 500;
    color: $color2;
}
a{
    text-decoration: none;
    font-size: 17px;
    font-family: $font1;
    font-weight: 700;
    color: $color1;
}
button{
    font-size: 20px;
    font-family: $font1;
    font-weight: 700;
    color: $color4;
}
li{
    list-style: none;
    
}
 

//---Body---
*{
padding: 0;
  margin: 0; 
}

html,
body {
    background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/Images/Dojo1.webp") center;
    background-size: cover;
    color: $color1;
    font-family: $font1;
    scroll-behavior: smooth;
}

.AppLayout{
    height: 100vh;
}
.navbar-desktop{
    width: 90%;
    margin-left: 5%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .user{
        display: flex;
        align-items: center;
    }
    img{
        width: 15%;
        height: auto;
        margin: 40px 0px;
    }
    h2{
        font-size: 15px;
        color: $color3;
        border: solid 4px $color1;
        background-color: $color1;
        border-radius: 50px 0px 0px 50px;
        padding: 9px 17px;
    }

}


.item {
    width: 19%;
}

.PFS{
    height: 180px;;
    width: auto;
}