//---btn 1
.bn1 {
    border: none;
    padding: 0.8em 1em;
    outline: none;
    color: white;
    font-family: $font1;
    font-style: 1em;
    font-size: 18px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    margin:5px;
}
.bn1:before,
.bn1:after {
position: absolute;
top: 50%;
left: 50%;
border-radius: 10em;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
width: 105%;
height: 105%;
content: "";
z-index: -2;
background-size: 400% 400%;
background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
);
}
.bn1:before {
-webkit-filter: blur(7px);
filter: blur(7px);
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
-webkit-animation: pulse 10s infinite ease;
animation: pulse 10s infinite ease;
}
.bn1:after {
-webkit-filter: blur(0.3px);
filter: blur(0.3px);
}
.bn1:hover:before {
width: 108%;
height: 125%;
}

//---btn 2
.bn2{
    display: inline-block;
    font-family: $font2;
    font-size: 25px;
    padding: 10px 0 10px 10px ;
    border: none;
    border-radius: 10px;
    background-color: $color2;
    /*color: rgb(104, 104, 104);*/
    color: $color4;
    text-shadow: -1px -1px $color1, 1px 1px $color3;
    box-shadow: 0 .3em rgb(110, 110, 110); 
    cursor: pointer;
    margin:0px 10px;
    margin-bottom: 10px;
    transition: 0.1s;

}
.bn2:active{
    box-shadow: none;
    position: relative;
	top: .3em;
}


//---btn 2
.bn3-hover {
    width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 0px 50px 50px 0px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .bn3-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .bn3-hover:focus {
    outline: none;
  }
  .bn3-hover.bn31 {
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

//---btn 4
.bn632-hover {
    width: 250px;
    font-size: 22px;
    font-weight: 600;
    color: $color3;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
